version: '2'
services:
  mysql:
    image: mysql/mysql-server
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: your_db_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: sqladmin
    ports:
      - "8080:80"
    links:
      - mysql:db

  encoder:
    image: leejoneshane/youphptube-encoder
    container_name: encoder
    environment:
      SITE_TITLE: I_love_videos
      DOMAIN: fqdn_of_the_server
      DOMAIN_PROTOCOL: https
      ADMIN_EMAIL: your_email
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: your_db_password
      LANG: tw
    ports:
      - "80:80"
      - "443:443"
    links:
      - mysql:db
  
  youphptube:
    image: leejoneshane/youphptube
    container_name: utube
    environment:
      SITE_TITLE: I_love_videos
      DOMAIN: fqdn_of_the_server
      DOMAIN_PROTOCOL: https
      ADMIN_EMAIL: your_email
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: your_db_password
      LANG: tw
    ports:
      - "80:80"
      - "443:443"
    links:
      - mysql:db
